body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #D5E1EF;
}

.card {
    background-color: red;
    height: 420px;
    width: 270px;
    border-radius: 5%;
    background-color: #FFFF;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4%;
    margin: 15px auto 0;
}

#highlight {
    font-weight: 700;
    color: #1F3251;
}

#inst {
    font-size: small;
    color: #68778D;
}

.info-text {
    margin: 0 28px;
    font-family: "Outfit", sans-serif;
}